{% include 'base.htm' %}
{% include 'navigation.htm' %}
{% block content %}
<h1 class="text-center" style="margin-top:50px;">About US</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="strong">Who are we</h1>
            <p class="lead"> This is world's Leading Site for Hospital Management System.Lorem ipsum dolor sit amet. Sit soluta sunt est adipisci quae eos sint eaque eum beatae obcaecati sed officiis quisquam. Et eligendi numquam non cupiditate fugiat non corrupti corporis sit soluta quam et consequatur voluptates.</p>
        </div>
        <div class="col-md-6">
            <h1 class="strong">What we do</h1>
            <p class="lead"> We are providing portal for manage hospital.Ut galisum accusamus ut corrupti error vel sequi commodi et eaque sequi est architecto laboriosam eum ipsum nihil sed optio enim. Sed voluptas modi sed labore repudiandae sit tenetur labore et illo necessitatibus aut aliquam fugit sit incidunt illum.

            </p>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="border">
        </div>
        <div class="site-heading text-center"style="margin-top: 25px;">
            <h3 class="strong">Our Team</h1>
            <p class="lead"> Lorem ipsum dolor sit amet. 33 aspernatur eius eos iste voluptates sed maiores recusandae? Quo voluptatem facilis et nihil atque hic fugiat voluptates et assumenda perferendis ut debitis consectetur rem fuga aliquid? Et aperiam fugiat itaque consequatur qui esse dolores est dolor incidunt. Quo enim quos quo ipsa aliquam aut neque optio sed possimus dolores ab esse vero?</p>
        </div>
        <div class="border">
        </div>
    </div>
</div>
</div>

{% endblock content %}
{% include 'footer.htm'%}