{% include 'base.htm' %}
{% load static %}
{% include 'navigation.htm' %}
{% block content %}
{% ifequal error "no" %}
<script>
    alert(' Record save successfully');
    window.location = "{% url 'view_doctor' %}";
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert(' Invalid Login Please Try Again!');

</script>
{% endifequal %}
<div class="container" style="margin:auto; margin-bottom: 12%; ">
    <h2 class="text-center">Add Doctor</h2>
    <form method="POST" class="justify-content-center">
        {% csrf_token %}
            Doctor Name<input type="text" class="form-control" name="name"><br>
            Mobile :<input type="text" class="form-control" name="mobile"><br>
            Special : <input type="text" class="form-control" name="special"><br>
        <p></p>
        <input type="submit" value="submit" class="form-control btn btn-primary" >
    </form>
</div>

{% endblock content %}
{% include 'footer.htm' %}