{% include 'base.htm' %}
{% include 'navigation.htm' %}
<style>
    .divstyle:hover{
            box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
            border-radius: 20px;
            transform: translateY(-5px);
    }
</style>


{% block content %}
<div class="container" style="margin:auto; padding-bottom: 25%; ">
    <h1 class="text-center">Contact US</h1>
    <div class="row mt-5 text-center">
      <div class="col-lg-3 col-sm-6 divstyle">
       <h4><i class="fas fa-phone-square"> Contact</i></h4>
       <p class="text-danger font-weight-bold mt-3"><a href="tel:+919999999999">+919999999999</a></p>
      </div>
      <div class="col-lg-3 col-sm-6 divstyle">
        <h4><i class="fas fa-envelope"> Send Email</i></h4>
        <p class="font-weight-bold mt-3"><a href="mailto: xyz@xyzzwa.com">xyz@xyzzwa.com</a></p>
      </div>
      <div class="col-lg-3 col-sm-6 divstyle">
        <h4><i class="fas fa-address-book"> Office Address</i></h4>
        <p class="font-weight-bold mt-3"><a href="https://maps.google.com/maps?=surat">Surat,Gujarat</a></p>
      </div>
      <div class="col-lg-3 col-sm-6 divstyle">
        <h4><i class="fas fa-clock "> Office Time</i></h4>
        <p class="font-weight-bold mt-3">9 AM to 7 PM</p>
      </div>
    </div>
</div>
{% endblock content %}
{% include 'footer.htm'%}