{% include 'base.htm' %}
{% load static %}
{% include 'navigation.htm' %}
<style>
    body{
        background-color: #cccccc;
    }
</style>

{% block content %}
<div id="carousel-slider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-slider" data-slide-to="1"></li>
        <li data-target="#carousel-slider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/1.jpg' %}" class="d-block w-100" alt="..." style="height: 600px ;">
            <div class="carousel-caption ">
                <div class="background-1  " style="background-color: rgba(255,255,255,150);">
                    <h2 style="color: black;">Postoperative Care</h2>
                    <p style="color: black;">Postoperative care is the care you receive after a surgical procedure. The type of postoperative
                        care you need depends on the type of surgery you have, as well as your health history. It often
                        includes pain management and wound care.
                    </p>
                    <button class="btn btn-light"><a href="#departments" class="nav-link">See All Services</a></button>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/2.jpg' %}" class="d-block w-100" alt="..." style="height: 600px ;">
            <div class="carousel-caption ">
                <div class="background-1  " style="background-color: rgba(255,255,255,150);">
                    <h2 style="color: black;">Surgery</h2>
                    <p style="color: black;">Surgery is a medical specialty that uses operative manual and instrumental techniques on a person
                        to investigate or treat a pathological condition such as a disease or injury, to help improve
                        bodily function or appearance or to repair unwanted ruptured areas.
                    </p>
                    <button class="btn btn-light"><a href="#departments" class="nav-link">See All Services</a></button>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/3.jpg' %}" class="d-block w-100" alt="..." style="height: 600px ;">
            <div class="carousel-caption ">
                <div class="background-1  " style="background-color: rgba(255,255,255,150);">
                    <h2 style="color: black;">Neonatal intensive care unit</h2>
                    <p style="color: black;">A neonatal intensive care unit, also known as an intensive care nursery, is an intensive care
                        unit specializing in the care of ill or premature newborn infants. Neonatal refers to the first
                        28 days of life. Neonatal care, as known as specialized nurseries or intensive care, has been
                        around since the 1960s.
                    </p>
                    <button class="btn btn-light"><a href="#departments" class="nav-link">See All Services</a></button>
                </div>

                <!------
                <div class="background-2">

                </div>

                -->
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<!----------------------Introduction Section------------->

<div class="container-fluid" id="about" >
    <div class="row">
        <div class="col-md-4">
            <img src="">
        </div>
        <div id="intro-text">
            <div>
            <h1 class="text-center">
                <h1 class="text-center">Welcome to hospital management system </h1>
            </h1>
            <p class="text-justify">
            <h5>Hospital Management system is a system where you can take any type of services. It is located in
                Tulsipur Dang. It provides different types of services like radiography, different types sergons with
                highly reputed doctors.</h5>
            </p></div>
            <div>
            <img src="{% static 'images/4.webp' %}" style=" display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;"></div>
        </div>
        <div >
            <div class="container-fluid ">
                <table class="table">
                <tr>
                    <td>
                        <td><button class="btn btn-lg btn-block "><a href="#about" class="nav-link"><i
                            class="fa fa-calendar-minus-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Request
                        Appointments</a></button></td>
                        <td><button class="btn btn-lg btn-block "><a href="#doctors" class="nav-link"><i
                            class="fa fa-user-md"></i>&nbsp;&nbsp;&nbsp;&nbsp;Find
                        Doctors</a></button></td>
                        <td><button class="btn btn-lg btn-block col-md-4"><a href="#about" class="nav-link"><i
                            class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;Location</a></button></td>
                            <td><button class="btn btn-lg btn-block col-md-4"><a href="#about" class="nav-link"><i
                            class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;Emergency
                        Contact</a></button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!---------------------Inroduction Section End---------------------->


<hr>
<!--------------Medical Services -------------------->
<div class="container" id= "departments">
    <h2 class="text-center"> Medical Services</h2><hr>
    <div class="card-deck" >
      <div class="card ">
        <div class="card-body text-center">
            <div class="card-img">
                <img src="{% static 'images/radiology.png' %}"
                    style="margin-left: auto; margin-right: auto; height: 50px; padding-top: 5px;">
            </div>

            <div class="card-body">
                <p class="card-text">Radiology</p>
            </div>
        </div>
      </div>
      <div class="card ">
        <div class="card-body text-center">
            <div class="card-img">
                <img src="{% static 'images/Orthopedic.png' %} "
                    style="margin-left: auto; margin-right: auto; height: 50px; padding-top: 5px;">
            </div>

            <div class="card-body">
                <p class="card-text">Orthopedic and Surgery</p>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
            <div class="card-img">
                <img src="{% static 'images/Laparoscopic.webp' %}"
                    style="margin-left: auto; margin-right: auto; height: 50px; padding-top: 5px;">
            </div>

            <div class="card-body">
                <p class="card-text">General and Laparoscopic Surgery</p>
            </div>
        </div>
      </div>
      <div class="card ">
        <div class="card-body text-center">
            <div class="card-img">
                <img src=" {% static 'images/Physician.png' %} "
                    style="margin-left: auto; margin-right: auto; height: 50px; padding-top: 5px;">
            </div>

            <div class="card-body">
                <p class="card-text">Physician</p>
            </div>
        </div>
      </div>  
    </div>
  </div>
<!----------------------Medical Services End--------------->

<hr>

<!-----------------------------Other Services Section Beginning-------------------->

<div class="container-fluid" id="services">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Other Services</h1><hr>
        </div>
    </div>


    <div class="card owl-carousel owl-theme">
        <div class="card-deck" >
            <div class="card ">
              <div class="card-body text-center">
                  <div class="card-img">
                      <img src="{% static 'images/radiology.png' %}"
                          style="margin-left: auto; margin-right: auto; height: 50px; padding-top: 5px;">
                  </div>
      
                  <div class="card-body">
                      <p class="card-text">Radiology</p>
                  </div>
              </div>
            </div>
            <div class="card ">
              <div class="card-body text-center">
                  <div class="card-img">
                      <img src="{% static 'images/Orthopedic.png' %} "
                          style="margin-left: auto; margin-right: auto; height: 50px; padding-top: 5px;">
                  </div>
      
                  <div class="card-body">
                      <p class="card-text">Orthopedic and Surgery</p>
                  </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body text-center">
                  <div class="card-img">
                      <img src="{% static 'images/Laparoscopic.webp' %}"
                          style="margin-left: auto; margin-right: auto; height: 50px; padding-top: 5px;">
                  </div>
      
                  <div class="card-body">
                      <p class="card-text">General and Laparoscopic Surgery</p>
                  </div>
              </div>
            </div>
            <div class="card ">
              <div class="card-body text-center">
                  <div class="card-img">
                      <img src=" {% static 'images/Physician.png' %} "
                          style="margin-left: auto; margin-right: auto; height: 50px; padding-top: 5px;">
                  </div>
      
                  <div class="card-body">
                      <p class="card-text">Physician</p>
                  </div>
              </div>
            </div> 
    </div>
    </div>
</div>

<!------------------------------End of Other services---------------------->

<hr>
<!---------------------We team Section End---------------------->
<div class="col-md-12">
    <h1 class="text-center text-primary">Our Team of Experts</h1>

</div>
<div class="carousel-inner">
    <img src=" " style="max-width: 100%;">
</div>

<!---------------------We team Section End---------------------->

<!-------------------Meet Our Team Section----------------->

<div class="container-fluid" id="doctors">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center text-primary">Meet Our Team</h4><hr>
            <h1 class="text-center">Specialist Doctors</h1>
        </div>
    </div>


<div class="container">
    <div class="card-deck" >
      <div class="card">
        <div class="card-body text-center" style="height: 200px;">
            <div class="card-body profile-card">
                <img class="img-thumbnail rounded-circle border-0" src="{% static 'images/person.png' %} " style="height: 50px;">
                <h4 class="card-title" style="font-size: 18px;">Dr. Xyz</h4>
                <h6 class="card-subtitle">Senior Consultant Surgeon</h6>
                <p class="card-text">MBBS, MS(TU), FMAS, DMAS (WLH)</p>
                <a href="#" class="card-link"><i class="fab fa-facebook"></i></a>
                <a href="#" class="card-link"><i class="fab fa-instagram"></i></a>
                <a href="#" class="card-link"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
            <div class="card-body profile-card">
                <img class="img-thumbnail rounded-circle border-0" src="{% static 'images/full person.png' %} " style="height: 50px;">
                <h4 class="card-title" style="font-size: 18px;">Dr.Dev </h4>
                <h6 class="card-subtitle">Consultant Physician</h6>
                <p class="card-text">MBBS, MD (Internal Medicine)</p>
                <a href="#" class="card-link"><i class="fab fa-facebook"></i></a>
                <a href="#" class="card-link"><i class="fab fa-instagram"></i></a>
                <a href="#" class="card-link"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
      </div>
      <div class="card ">
        <div class="card-body text-center">
            <div class="card-body profile-card">
                <img class="img-thumbnail rounded-circle border-0" src="{% static 'images/person.png' %} " style="height: 50px;">
                <h4 class="card-title" style="font-size: 18px;">Dr.Abc</h4>
                <h6 class="card-subtitle">Orthopedic Surgeon</h6>
                <p class="card-text">MBBS, MS Orthopedic </p>
                <a href="#" class="card-link"><i class="fab fa-facebook"></i></a>
                <a href="#" class="card-link"><i class="fab fa-instagram"></i></a>
                <a href="#" class="card-link"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
      </div>
      <div class="card ">
        <div class="card-body text-center">
            <div class="card-body profile-card">
                <img class="img-thumbnail rounded-circle border-0" src="{% static 'images/full person.png' %} " style="height: 50px;">
                <h4 class="card-title" style="font-size: 18px;">Dr. Kuldeep</h4>
                <h6 class="card-subtitle">Gynecologist And Obstetrician</h6>
                <p class="card-text">MBBS, MD (NMC)</p>
                <a href="#" class="card-link"><i class="fab fa-facebook"></i></a>
                <a href="#" class="card-link"><i class="fab fa-instagram"></i></a>
                <a href="#" class="card-link"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
      </div>  
    </div>
  </div>
</div>
</div>
{% endblock content %}
{% include 'footer.htm'%}