{% include 'base.htm' %}
{% load static %}
{% include 'navigation.htm' %}
{% block content %}
<div style="margin-bottom: 22%;">
    <h2 class="h1 text-center">View Patient</h2>
    <table class="table table1 table-hover footable  " data-sorting="true" data-filtering="true" data-editing="true"  data-editing-edit-text='<span class="fooicon fooicon-pencil" aria-hidden="true"></span>'>
        <thead>
            <th>Patient ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Mobile</th>
            <th>Address</th>
        </thead>
        <tbody>
            {% for i in pat %}
            <tr>
                <td>{{i.id}}</td>                
                <td>{{i.name}}</td>                
                <td>{{i.gender}}</td>                
                <td>{{i.mobile}}</td>                
                <td>{{i.address}}</td>                
                <td><a href = "{% url 'delete_patient' i.id %}" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
{% include 'footer.htm' %}